<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
   	<bean id="short_table" class="com.sidbhujbal.springdemo.short_table" ></bean>
   	<bean id="long_table" class="com.sidbhujbal.springdemo.long_table"></bean>
    

</beans>

